<% form_for @tag, :url => { :action => "new" } do |f| %>
  <div class="fieldset">
    <%= f.label :network %>
    <%= collection_select("", :network_id, @networks, :id, :network_name, :include_blank => true) %>
  </div>
  <p><%= liftium_submit "Continue" %></p>
<% end %>
