<hr />
<span style="float:right; text-align:right;">
<% if !current_user %>
  <%= link_to "Register", new_account_path %> |
  <%= link_to "Log In", new_user_session_path %> 
<% else %>
  <%= link_to "My Account", account_path %> |
  <%= link_to "Logout", user_session_path, :method => :delete %>
<% end %>
</span>

[ <a href="/networks">Networks</a> ]
[ <a href="/tags">Tags</a> ]
[ <a href="/publishers">Publishers</a> ]
[ <a href="/adformats">Ad Formats</a> ]
</body>
</html>
