<hr />
<span style="float:right; text-align:right;">
<% if !current_user %>
  <%= link_to "Register", new_account_path %> |
  <%= link_to "Log In", new_user_session_path %> 
<% else %>
  <%= link_to "My Account", account_path %> |
  <%= link_to "Logout", user_session_path, :method => :delete %>
<% end %>
</span>

[ <a href="/networks">Networks</a> ]
[ <a href="/tags">Tags</a> ]
[ <a href="/publishers">Publishers</a> ]
[ <a href="/adformats">Ad Formats</a> ]
</body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10292921-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</html>
