body {
  margin: 0;
  background-color: #EEE;
  font-family: Arial,sans-serif;
  font-size: 12px;
  color: #333;
}

/* Page elements */
a img {
  border: none;
}

a {
  color: #06F;
  text-decoration: none; /* Nick wrote: I don't like this. */
}

input:focus, textarea:focus, select:focus {
	background-color: #FFFFE0;
}


/* Wrappers, page/structure */
#header {
	background:transparent url(/images/head.gif) repeat-x scroll 0 0;	
	height: 71px;
}

#logo {
	padding-left: 100px;
}


#container { 
	min-width: 500px;
	padding-left: 100px;
	position: absolute; /* Have the container be as wide as the content */
}

#content {
	background: #FFF;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

#titlebar {
	background:transparent url(/images/titlebar_bg.gif) repeat-x scroll 0 0;	
	height: 51px;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
}

#title_bar_right_text {
	float: right;
	margin-right: 21px;
	margin-top: 30px;
	font-size: 14px;
}

#titlebar h1 {
	float:left;
	font-weight:bold;
	height:51px;
	line-height:50px;
	padding:0 21px;
	font-size: 18px;
}


/* Form fields */
.fieldset {
	margin-bottom: 10px;
}

.fieldset input[type=text], .fieldset textarea {
	width: 325px;
}
.fieldset select {
	width: 182px;
}

.fieldset label {
	line-height: 20px;
	color: #000;
	font-size: 14px;
}

.fieldset .left_label {
	display:block;
	float:left;
	clear:both;
	width:150px;
}

.input_for_number {
	width: 175px !important; /* Nick wrote: I don't understand why this is needed */
}

.fieldset .hint {
	font-size: 11px;
	font-weight: lighter;
	color: gray;
}

/* Make the input for tags extra big */
.fieldset .tag_input {
	width: 600px;
	height: 175px;
}

/* Record Listings */
.record_listing { /* the table */
	border-spacing: 0;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}

.record_listing td { /* the table */
}

.record_listing td, .record_listing th { /* the table */
	padding: 6px;
	font-size: 12px;
	line-height: 10px;
}


.record_listing_header { /* table header */
	background:#666;
	border-right:1px solid #FFF;
	color:#FFF;
	text-align:left;
	line-height: 17px;
}

.record_row_odd {

}

.record_row_even {
        background-color: #E3E3E3;
}

.record_column {
	border-right:1px solid #CCC;
}


/* Rails messages */
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #f7fff0;
  border: solid 1px #a7e147;
  background-image:url(/images/success1.gif);
  background-position:20px center;
  background-repeat:no-repeat;
  padding: 15px; 
  text-indent: 50px;
  font-weight: bold;
  font-size: 14px;
}

#flash_error {
  background-color: #ffdfdf;
  border: solid 1px #df3e4e;
  background-image:url(/images/error1.gif);
  background-position:20px center;
  background-repeat:no-repeat;
  padding: 15px; 
  text-indent: 50px;
  font-weight: bold;
  font-size: 14px;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 450px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  background-color: #ffdfdf;
  border: solid 1px #df3e4e;
  background-image:url(/images/error1.gif);
  background-position:20px center;
  background-repeat:no-repeat;
  padding-right: 15px; 
  padding-top: 15px; 
  padding-bottom: 15px; 
  padding-left: 65px; 
  font-weight: bold;
  font-size: 14px;
  margin: 0;
/*
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
*/
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  line-height: 20px;
  list-style: circle;
}
