<!-- FIXME 
[ <a href="add_tag?tag_id=569">Edit</a> ]
[ <a href="../tests/test_tag?tag_id=569">Preview</a> 
	<a href="../tests/test_tag?tag_id=569">in iframe</a> ]
<br />
-->
<!-- FIXME tag_chart helper
url encode title
assoc arrays of "1h => Hourly"
-->
<img src="http://rgraph.liftium.com/chart?net=36&amp;tag=569&amp;range=1h&amp;title=Hourly+Stats+for+OX%3DDSNR-MR+ROW&amp;width=600&amp;height=250"/>

<p />
<img src="http://rgraph.liftium.com/chart?net=36&amp;tag=569&amp;range=1d&amp;title=Daily+Stats+for+OX%3DDSNR-MR+ROW&amp;width=600&amp;height=250"/>

<p /><img src="http://rgraph.liftium.com/chart?net=36&amp;tag=569&amp;range=1w&amp;title=Weekly+Stats+for+OX%3DDSNR-MR+ROW&amp;width=600&amp;height=250"/>

<p /><img src="http://rgraph.liftium.com/chart?net=36&amp;tag=569&amp;range=1month&amp;title=Monthly+Stats+for+OX%3DDSNR-MR+ROW&amp;width=600&amp;height=250"/>

<p /><img src="http://rgraph.liftium.com/chart?net=36&amp;tag=569&amp;range=1y&amp;title=Yearly+Stats+for+OX%3DDSNR-MR+ROW&amp;width=600&amp;height=250"/>
