<p>
  <b>Publisher name:</b>
  <%=h @publisher.publisher_name %>
</p>

<p>
  <b>Website:</b>
  <%=h @publisher.website %>
</p>


<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>