.active-scaffold tr.record td {
	/*background-color:#bcb3c8; */
	background-color:#b7b7b7;
}

.active-scaffold tr.record td.sorted {
	/*background-color:#bcb3c8; */
	background-color:#b7b7b7;
	border-bottom:1px solid #AFD0F5;
	border-right:1px solid black;
	border-left:1px solid black;
}

.active-scaffold tr.even-record td {
	background-color:#FFFFFF;
	border-left:1px solid #DDDDDD;
}

.active-scaffold tr.even-record td.sorted {
	background-color:#FFFFFF;
	border-bottom:1px solid #AFD0F5;
	border-right:1px solid black;
	border-left:1px solid black;
}

.active-scaffold .view {
	background-color: #F0F8FF;
	border: solid 1px #C5DBF7;

}

.active-scaffold input.text-input, .active-scaffold select, .active-scaffold textarea {
	border:1px solid black;
	font-weight:normal;
	letter-spacing: 0px;
}

body {
	line-height:10px;
	margin-bottom: 10;
}

.active-scaffold .submit, .active-scaffold select {
        display: inline-block;
        font-weight: normal;
}

.tag-input, .tag_template-input {
	border:5px solid red;
	width: 600px;
	height: 175px;
}

.active-scaffold .sub-form .footer select, .active-scaffold .sub-form .footer input, .active-scaffold select, .active-scaffold input { 
	font-size:12px;
	font-weight:normal;
	padding:2;
}

.active-scaffold .description {
	line-height: 16px;
}
