/* Items are organized by section, then alphabetical. Please keep it that way. */

body {
	background-color: #EEE;
	color: #333;
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	margin: 0;
}

/*** Page elements ***/
a img {
	border: none;
}

a {
	color: #06F;
	text-decoration: none; /* Nick wrote: I don't like this. */
}

input:focus, textarea:focus, select:focus {
	background-color: #FFFFE0;
}


/*** Wrappers, page/structure ***/

#container { 
	min-width: 500px;
	margin-left: 150px;
	padding-top:20px;
	padding-bottom:20px;
	position: absolute; /* Have the container be as wide as the content */
}

#content {
	background: #FFF;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#header {
	background:transparent url(/images/head.gif) repeat-x scroll 0 0;	
	height: 71px;
}

#logo {
	margin-left: 32px;
}


/*** Left Nav bar ***/
	
#leftnav {
	position:absolute;
	float:left;
	width: 150px;
	padding-top: 20px;
	padding-left: 5px;
}

#leftnav .navsection {
}

#leftnav .navsection_header {
	font-weight: bold;
}

/*** Title Bar ***/
#titlebar {
	background:transparent url(/images/titlebar_bg.gif) repeat-x scroll 0 0;	
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	height: 51px;
}

#titlebar h1 {
	float:left;
	font-size: 150%;
	font-weight:bold;
	height:51px;
	line-height:50px;
	padding:0 21px;
}

#title_bar_right_text {
	float: right;
	margin-right: 21px;
	margin-top: 30px;
	font-size: larger;
}

#title_bar_right_text img{
	padding-right:2px;
	vertical-align:top;
}


/*** Form fields ***/
.fieldset {
	margin-bottom: 10px;
}

.fieldset input[type=text], .fieldset textarea {
	width: 325px;
}

.fieldset label {
	color: #000;
	line-height: 20px;
}

.fieldset select {
	width: 182px;
}

.fieldset .left_label {
	clear:both;
	display:block;
	float:left;
	width:150px;
}


.fieldset .hint {
	font-size: smaller;
	font-weight: lighter;
	color: gray;
}

/* Make the input for tags extra big */
.fieldset .tag_input, .tag_input {
	width: 600px;
	height: 150px;
	/* http://www.codestyle.org/css/font-family/sampler-Monospace.shtml */
	font-family: Lucida Console,monospace;
}

/* In fieldset */.input_for_number {
	width: 175px !important; /* Nick wrote: I don't understand why the important is needed */
}


/*** Record Listings ***/

.record_column {
	border-right:1px solid #CCC;
}

.record_listing { /* the table */
	border-spacing: 0;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	font-size: 9pt;
}

.record_listing td { /* the table */
}

.record_listing td, .record_listing th { /* the table */
	padding: 6px;
}

.record_listing_header { /* table header */
	background:#666;
	color:#FFF;
	line-height: 13px;
	text-align:left;
}

.record_listing_header th { /* table header */
	border-right:1px solid #FFF;
}

.record_row_odd {
	vertical-align: top;
}

.record_row_even {
	background-color: #E3E3E3;
	vertical-align: top;
}

.disabled {
	/* FIXME repeats oddly in IE */
        background: #FFEEEE url(/images/disabled_bg.png) no-repeat center;
}

.record_column_number {
	text-align: center;
	border-right:1px solid #CCC;
}


/*** Rails messages ***/
#flash_notice, #flash_error {
	margin: 10px 0;
	padding: 5px 8px;
}

#flash_notice {
	background-color: #f7fff0;
	background-image:url(/images/success1.gif);
	background-position:20px center;
	background-repeat:no-repeat;
	border: solid 1px #a7e147;
	padding: 15px; 
	font-weight: bold;
	font-size: larger;
	text-indent: 50px;
}

#flash_error {
	background-color: #ffdfdf;
	background-image:url(/images/error1.gif);
	background-position:20px center;
	background-repeat:no-repeat;
	border: solid 1px #df3e4e;
	font-size: larger;
	font-weight: bold;
	padding: 15px; 
	text-indent: 50px;
}

.fieldWithErrors {
	display: inline;
}

#errorExplanation {
	background-color: #f0f0f0;
	border: 2px solid #CF0000;
	padding: 0;
	padding-bottom: 12px;
	margin-bottom: 20px;
	width: 450px;
}

#errorExplanation h2 {
	background-color: #ffdfdf;
	background-image:url(/images/error1.gif);
	background-position:20px center;
	background-repeat:no-repeat;
	border: solid 1px #df3e4e;
	font-size: larger;
	font-weight: bold;
	margin: 0;
	padding-right: 15px; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	padding-left: 65px; 
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	line-height: 20px;
	list-style: circle;
}
