<% @show_nav = false %>
<% title "Dashboard" %>

<% if !current_user %>

<div style="width:500px">
Liftium is an Ad Network Optimization company with some new ideas. We are currently only servicing early beta customers.
If you already have an account, you may <%= link_to "log in", new_user_session_path %>. To inquire about our beta program, e-mail 
<a href="m&#97;ilt&#111;:jennie%40liftium&#46;&#99;&#111;&#109;">jen<!-- No spam robots -->nie<!--No spam robots -->&#64;<!-- No spam robots -->lift<!-- No spam robots -->ium<!-- No spam robots -->&#46;&#99;<!-- No spam robots -->&#111;&#109;<!-- No spam robots --></a>
</div>
<% else %>
<% for @stat in ["RemnantRevenue", "BeaconCalls", "TotalAdsServed", "SlotTimeouts", "HopsPerAd", "JavascriptErrors", "TagErrors"] do -%>
	<a href="<%= misc_stat_url @stat, "1h", 400, 190 %>"><img src="<%= misc_stat_url @stat, "1h" %>" width="400" height="190"/></a>
<% end -%>
<% end %> 
